body {
  margin: 0;
  background-color: #0f172a;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  padding: 2rem;
}

input {
  margin: 0.5rem 0;
  padding: 0.4rem;
  background: #1f2937;
  border: 1px solid #4b5563;
  color: white;
  width: 100%;
  border-radius: 0.5rem;
}

button {
  background: #2563eb;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}
